<% @title = '欢迎使用P2P借贷平台 - 登录' %>

<div class="login-container">
  <div class="login">
    <div class="login-form">
      <%= bootstrap_form_tag url: '/login', layout: :horizontal do |f| %>
        <%= f.text_field :name, label: '用户名' %>
        <%= f.password_field :password, label: '密码' %>
        <%= f.submit "登录" %>
        <button class="btn btn-primary new-user-btn">
          <a href="/users/new">注册</a>
        </button>
      <% end %>
    </div>
  </div>
</div>

