/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
$P2P-blue:#5d68be;
$P2P-orange:#ff8401;
$btn-default-color:white;
$btn-default-bg:$P2P-orange;
$btn-primary-color:white;
$btn-primary-bg:$P2P-blue;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgba(242, 242, 242, 1);
}

li {
  list-style: none;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
  padding: 0 !important;
}

.notice {
  display: block;
  margin: 0 0;
  text-align: center;
  font-size: 1.5em;
}

.nav_button {
  height: 50px;
  font-size: 2em;
  background-color: $P2P-blue;
  border: white solid 1px;
  text-align: center;
  
  & > a {
    color: white;
    vertical-align: middle;
  }
}
