// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$P2P-blue:#5d68be;
$P2P-orange:#ff8401;

// users#new
.new-user-container {
    background-color: white;
    margin: 0 0;
    min-height: 640px;
    padding-top: 30px;
}

.new-user-form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    & input[type=submit] {
        margin-top: 10px;
        width: 50%;
        float: left;
        font-size: 1.7em;
        font-weight: bold;
    }
}

// users#sidebar
$item-sky-blue:#99ffcc;
$item-blue:#00ccff;

.sidebar {
    border-top: white solid 1px;
    padding: 0 !important;

    $node-interval: 52px;

    /*#first-node {*/
        /*& > .item {*/
            /*display: block;*/
        /*}*/
    /*}*/

    &  > .node {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: $node-interval;
        padding: 0;
        border-bottom: white solid 1px;

        & > .node-name {
            $text-height: 75px;
            height: $text-height;
            line-height: $text-height;
            border-top: white solid 1px;
            border-bottom: white solid 1px;
            font-weight: 700;
            font-style: normal;
            font-size: 30px;
            text-align: center;
            color: #6289A4;
            background-color: $item-sky-blue;
        }
        
        & > .node-name:hover {
            background-color: $item-blue;
        }

        & > .item {
            display: none;
            height: $node-interval - 2;
            line-height: $node-interval - 2;
            background-color: white;
            border-top: #eee solid 2px;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: #999999;
            text-align: center;
        }

        &:hover > .item {
            display: block;
        }

        & > .item:hover {
            color: rgb(0, 102, 255);
            opacity: 1;
        }
    }
}

// users#show
.user-container {
    height: 600px;
    background-color: white;
    padding: 60px 0;
    margin-top: 10px;
    font-size: 20px;
}

.show-user {
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;

    & > .description-item {
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;

        & > .key {
            color: $P2P-blue;
            margin-right: 20px;
        }

        & > .value {
            color: $P2P-orange;
            position: absolute;
            left: 250px;
        }
    }
}

.show-user-form {
    margin-top: 20px;

    & input[type=submit] {
        width: 30%;
        font-size: 20px;
        font-weight: 700;
    }
}

// users#edit
.edit-user {
    margin-top: -15px;
    margin-left: 15%;
    margin-right: 5%;
}

.edit-user-form {
    margin-top: 20px;
    
    & input[name=commit] {
        width: 30%;
        font-size: 20px;
        font-weight: 700;
        margin-left: 17%;
    }
}
